<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Add A New Course</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="createForm" class="create-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Course title" formControlName="title" #title>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <textarea matInput placeholder="Description" formControlName="description" #description></textarea>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Professor" formControlName="professor" #professor>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Seat" formControlName="seat" #seat>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/course/list">Back</button>&nbsp;
      <button type="submit" (click)="addCourse(title.value, description.value, professor.value, seat.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>
