<mat-card class="authentication_card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="createForm" class="create-form">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" #email>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" #password>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button type="submit" (click)="login(firstName.value, lastName.value, email.value, password.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Login</button>
    <button type="submit" mat-raised-button color="secondary" routerLink="/register">Register</button>

  </mat-card-actions>
</mat-card>
